.password-protection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the container to full height of the viewport */
  }
  
  .password-protection-content {
    text-align: center;
  }
  